<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Surfs Up!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Surf Locations</h1>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% surf_locations.each do |loc| %>
            <tr>
              <td><%= loc['Name'] %></td>
              <td><%= loc['Rating'] %></td>
              <td><img src="<%= loc['Attachments'][0]['thumbnails']['small']['url'] %>"></img></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>